---

version: "3.8"

services:

  redis-stack-unstable:
    image: redis/redis-stack-server:edge
    ports:
      - ${REDIS_UNSTABLE_PORT}:6379
    profiles:
      - redis-stack
      - unstable
      - standalone
      - all

  redis-stack-unstable-replica:
    image: redis/redis-stack-server:edge
    entrypoint:
      - /opt/redis-stack/bin/redis-stack-server
      - --port 6380
      - --replicaof redis-stack-unstable 6379
    ports:
      - 6380:6379
    profiles:
      - redis-stack
      - unstable
      - replica
      - all

  redis-unstable-cluster:
    build:
      context: .
      dockerfile: Dockerfile.cluster
    ports:
      - 46379:46379
      - 46380:46380
      - 46381:46381
      - 46382:46382
      - 46383:46383
      - 46384:46384
    volumes:
      - "./cluster/redis.conf:/redis.conf"
    profiles:
      - redis-stack
      - unstable
      - cluster
      - all

  redis-sentinel-unstable:
    build:
      context: .
      dockerfile: Dockerfile.unstable
    ports:
      - ${REDIS_SENTINEL_UNSTABLE_PORT}:6379
    profiles:
      - sentinel
      - unstable
      - all

  redis-sentinel-unstable-1:
    build:
      context: .
      dockerfile: Dockerfile.unstable
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    ports:
      - ${REDIS_SENTINEL_UNSTABLE1_PORT}:26479
    volumes:
      - './sentinel/sentinel_1.conf:/sentinel.conf'
    profiles:
      - unstable
      - sentinel
      - all

  redis-sentinel-unstable-2:
    build:
      context: .
      dockerfile: Dockerfile.unstable
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    ports:
      - ${REDIS_SENTINEL_UNSTABLE2_PORT}:26480
    volumes:
      - './sentinel/sentinel_2.conf:/sentinel.conf'
    profiles:
      - unstable
      - sentinel
      - all

  redis-sentinel-unstable-3:
    build:
      context: .
      dockerfile: Dockerfile.unstable
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    volumes:
      - './sentinel/sentinel_3.conf:/sentinel.conf'
    ports:
      - ${REDIS_SENTINEL_UNSTABLE3_PORT}:26481
    profiles:
      - unstable
      - sentinel
      - all

  redis5-standalone:
    image: redis:5
    ports:
      - ${REDIS_5_PORT}:6379
    profiles:
      - redis5
      - standalone
      - all

  redis6-standalone:
    image: redis:6
    ports:
      - ${REDIS_6_PORT}:6379
    profiles:
      - redis6
      - standalone
      - all

  redis62-standalone:
    image: redis:6.2
    ports:
      - ${REDIS_62_PORT}:6379
    profiles:
      - redis6
      - standalone
      - all

  redis7-standalone:
    image: redis:7
    ports:
      - ${REDIS_7_PORT}:6379
    profiles:
      - redis7
      - standalone
      - all

  redis72-standalone:
    image: redis:7.2-rc
    ports:
      - ${REDIS_72_PORT}:6379
    profiles:
      - redis7
      - standalone
      - all

### resp3 specific environments ###
  redis-unstable-cluster-resp3:
    build:
      context: .
      dockerfile: Dockerfile.cluster
      args:
        RESP3: 1
    ports:
      - 46379:46379
      - 46380:46380
      - 46381:46381
      - 46382:46382
      - 46383:46383
      - 46384:46384
    volumes:
      - "./cluster/redis.conf:/redis.conf"
    profiles:
      - resp3

  redis-sentinel-unstable-resp3:
    build:
      context: .
      dockerfile: Dockerfile.unstable
      args:
        RESP3: 1
    ports:
      - ${REDIS_SENTINEL_UNSTABLE_RESP3_PORT}:6379
    profiles:
      - resp3

  redis-stack-unstable-replica-resp3:
    image: redis/redis-stack-server:edge
    entrypoint:
      - /opt/redis-stack/bin/redis-stack-server
      - --port 6379
      - --replicaof redis-sentinel-unstable-resp3 6379
    ports:
      - ${REDIS_UNSTABLE_REPLICA_RESP3_PORT}:6379
    profiles:
      - resp3

  redis-sentinel-unstable-1-resp3:
    build:
      context: .
      dockerfile: Dockerfile.unstable
      args:
        RESP3: 1
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    ports:
      - ${REDIS_SENTINEL_UNSTABLE1_RESP3_PORT}:26479
    volumes:
      - './sentinel/sentinel_1.conf:/sentinel.conf'
    profiles:
      - resp3

  redis-sentinel-unstable-2-resp3:
    build:
      context: .
      dockerfile: Dockerfile.unstable
      args:
        RESP3: 1
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    ports:
      - ${REDIS_SENTINEL_UNSTABLE2_RESP3_PORT}:26480
    volumes:
      - './sentinel/sentinel_2.conf:/sentinel.conf'
    profiles:
      - resp3

  redis-sentinel-unstable-3-resp3:
    build:
      context: .
      dockerfile: Dockerfile.unstable
      args:
        RESP3: 1
    entrypoint:
      - /usr/bin/redis-sentinel
      - /sentinel.conf
    volumes:
      - './sentinel/sentinel_3.conf:/sentinel.conf'
    ports:
      - ${REDIS_SENTINEL_UNSTABLE3_RESP3_PORT}:26481
    profiles:
      - resp3
